# 01. Importing Libraries

In [21]:
# Import libraries
import pandas as pd
import numpy as np
import os

# 02. Importing Data

In [43]:
path = r'C:\Users\marci\OneDrive\Desktop\Career Foundary\Instacart Basket Analysis'

In [45]:
# importing products.csv

df_prods = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'products.csv'), index_col = False)

In [23]:
# importing orders_wrangled.csv

df_ords = pd.read_csv(r'C:\Users\marci\OneDrive\Desktop\Career Foundary\Instacart Basket Analysis\02 Data\Prepared Data\orders_wrangled.csv', index_col = False)

# 03. Consistency Checks

In [24]:
# Create a dataframe

df_test = pd.DataFrame()

In [25]:
# Create a mixed type column

df_test['mix'] = ['a', 'b', 1, True]

In [26]:
df_test.head()

    mix
0     a
1     b
2     1
3  True

In [27]:
# Finding mixed-type columns

for col in df_test.columns.tolist():
  weird = (df_test[[col]].map(type) != df_test[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_test[weird]) > 0:
    print (col)

mix

In [28]:
# Finding mising values

df_prods.isnull().sum()

product_id        0
product_name     16
aisle_id          0
department_id     0
prices            0
dtype: int64

In [29]:
# Creatie a new dataframe to view the 16 missing values

df_nan = df_prods[df_prods['product_name'].isnull() == True]

In [30]:
df_nan

       product_id product_name  aisle_id  department_id  prices
33             34          NaN       121             14    12.2
68             69          NaN        26              7    11.8
115           116          NaN        93              3    10.8
261           262          NaN       110             13    12.1
525           525          NaN       109             11     1.2
1511         1511          NaN        84             16    14.3
1780         1780          NaN       126             11    12.3
2240         2240          NaN        52              1    14.2
2586         2586          NaN       104             13    12.4
3159         3159          NaN       126             11    13.1
3230         3230          NaN       120             16    14.4
3736         3736          NaN        41              8    14.8
4283         4283          NaN        77              7    14.4
4790         4790          NaN        91             16    14.5
38187       38183          NaN        39             12    20.9
40444       40440          NaN       120             16    14.8

In [31]:
df_prods.shape

(49693, 5)

In [32]:
# New dataframe to remove the missing values

df_prods_clean = df_prods[df_prods['product_name'].isnull() == False]

In [33]:
# check to see if the number of rows has decreased

df_prods_clean.shape

(49677, 5)

In [34]:
# Finding duplicates

df_dups = df_prods_clean[df_prods_clean.duplicated()]

In [35]:
df_dups

,product_id,product_name,aisle_id,department_id,prices
462,462,Fiber 4g Gummy Dietary Supplement,70,11,4.8
18459,18458,Ranger IPA,27,5,9.2
26810,26808,Black House Coffee Roasty Stout Beer,27,5,13.4
35309,35306,Gluten Free Organic Peanut Butter & Chocolate ...,121,14,6.8
35495,35491,Adore Forever Body Wash,127,11,9.9

In [36]:
df_prods_clean.shape

(49677, 5)

In [37]:
# Create a new dataframe that doesn't include the duplicates

df_prods_clean_no_dups = df_prods_clean.drop_duplicates()

In [38]:
df_prods_clean_no_dups.shape

(49672, 5)

In [47]:
# Export the new dataframe

df_prods_clean_no_dups.to_csv(os.path.join(path, '02 Data', 'Prepared Data', 'products_checked.csv'), index = False)

# 04. 4.5 Task

In [ ]:
# Run the df.describe() function on your df_ords dataframe. Using your new knowledge about how to interpret the output of this function, share in a markdown cell whether anything about the data looks off or should be investigated further.

df_ords.describe()

In [ ]:
# The max for order_hour_of_day is 2.3 which seems odd when the min is 0 and it runs on a 24 hr clock. Similarly the days_since_prior_order max is only 3, and there are fewer value counts for this than any other column which suggest missing values.

In [ ]:
# Check for mixed-type data in your df_ords dataframe

for col in df_ords.columns.tolist():
  weird = (df_ords[[col]].map(type) != df_ords[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_ords[weird]) > 0:
    print (col)

In [ ]:
# There are no mixed-type columns in the df_ords dataframe

In [ ]:
# Run a check for missing values in your df_ords dataframe.

df_ords.isnull().sum()

In [ ]:
# The days_since_prior_order has 206209 missing values which suggest they are missing because it was the persons first order. 
# Check to verify if the number_of_orders is 1 for the missing columns

In [ ]:
df_ords_prior = df_ords[df_ords['days_since_prior_order'].isnull()==True]

In [ ]:
df_ords_prior

In [ ]:
# The df_ords_prior shows that when the order number is '1' then the 'days_since_prior_order' has a result of NaN. This verifies that the missing values are due to the customer not having placed an order before.

In [ ]:
# Address the missing values using an appropriate method. I will creat a new variable for the missing values. There is a large number of missing values and I don't want to alter the data by deleting them and using the meana or median would not give accurate results within the data.

In [ ]:
#create a flag column. This will show true if it is the persons first order and flase if it is not.

df_ords['first_order'] = df_ords['days_since_prior_order'].isnull() == True

In [ ]:
df_ords

In [ ]:
# Run a check for duplicate values in the df_ords data.

df_ords_dup = df_ords[df_ords.duplicated()]

In [ ]:
df_ords_dup

In [ ]:
# Address the duplicates using an appropriate method.

# There are no duplicate values found.

In [ ]:
# Export the df_ords 

df_ords.to_csv((r'C:\Users\marci\OneDrive\Desktop\Career Foundary\Instacart Basket Analysis\02 Data\Prepared Data/orders_checked.csv'), index = False)