# 01. Importing libraries

In [1]:
# Importing libraries
import pandas as pd
import numpy as np
import os

# 02. Importing data

In [2]:
# Create path

path = r'C:\Users\marci\OneDrive\Desktop\Career Foundary\Instacart Basket Analysis'

In [3]:
# Importing combined data

orders_products_combined = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_combined.pkl'))

In [4]:
# Checking the shape

orders_products_combined.shape

(32434489, 12)

In [5]:
# Importing products data

df_prods = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'products_checked.csv'), index_col = False)

In [6]:
# Checking the shape

df_prods.shape

(49672, 5)

# 03. Merging data

In [7]:
# Checking the memory usage

orders_products_combined.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32434489 entries, 0 to 32434488
Data columns (total 12 columns):
 #   Column                  Dtype
---  ------                  -----
 0   order_id                int64
 1   user_id                 int64
 2   eval_set                object
 3   order_number            int64
 4   orders_day_of_week      int64
 5   order_hour_of_day       int64
 6   days_since_prior_order  float64
 7   first_order             bool
 8   product_id              int64
 9   add_to_cart_order       int64
 10  reordered               int64
 11  _merge                  category
dtypes: bool(1), category(1), float64(1), int64(8), object(1)
memory usage: 2.5+ GB

In [8]:
# Changing the datatypes to reduce memory usage for products_orders_combined dataset

orders_products_combined['order_id']=orders_products_combined['order_id'].astype('int32')
orders_products_combined['user_id']=orders_products_combined['user_id'].astype('int32')
orders_products_combined['order_number']=orders_products_combined['order_number'].astype('int8')
orders_products_combined['orders_day_of_week']=orders_products_combined['orders_day_of_week'].astype('int8')
orders_products_combined['order_hour_of_day']=orders_products_combined['order_hour_of_day'].astype('int8')
orders_products_combined['add_to_cart_order']=orders_products_combined['add_to_cart_order'].astype('int8')
orders_products_combined['reordered']=orders_products_combined['reordered'].astype('int8')
orders_products_combined['days_since_prior_order']=orders_products_combined['days_since_prior_order'].astype('float16')

In [9]:
# Check memory usage after changing datatypes

orders_products_combined.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32434489 entries, 0 to 32434488
Data columns (total 12 columns):
 #   Column                  Dtype
---  ------                  -----
 0   order_id                int32
 1   user_id                 int32
 2   eval_set                object
 3   order_number            int8
 4   orders_day_of_week      int8
 5   order_hour_of_day       int8
 6   days_since_prior_order  float16
 7   first_order             bool
 8   product_id              int64
 9   add_to_cart_order       int8
 10  reordered               int8
 11  _merge                  category
dtypes: bool(1), category(1), float16(1), int32(2), int64(1), int8(5), object(1)
memory usage: 1020.8+ MB

In [10]:
# Checking the output

orders_products_combined.head()

,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,first_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,prior,1,2,8,NaN,True,196,1,0,both
1,2539329,1,prior,1,2,8,NaN,True,14084,2,0,both
2,2539329,1,prior,1,2,8,NaN,True,12427,3,0,both
3,2539329,1,prior,1,2,8,NaN,True,26088,4,0,both
4,2539329,1,prior,1,2,8,NaN,True,26405,5,0,both

In [11]:
df_prods.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

In [13]:
# Merging the two dataframes

ords_prods_merge = orders_products_combined.merge(df_prods, on = 'product_id', indicator = 'merge_source')

In [14]:
# Checking the merge

ords_prods_merge.head()

,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,first_order,product_id,add_to_cart_order,reordered,_merge,product_name,aisle_id,department_id,prices,merge_source
0,2539329,1,prior,1,2,8,NaN,True,196,1,0,both,Soda,77,7,9.0,both
1,2398795,1,prior,2,3,7,15.0,False,196,1,1,both,Soda,77,7,9.0,both
2,473747,1,prior,3,3,12,21.0,False,196,1,1,both,Soda,77,7,9.0,both
3,2254736,1,prior,4,4,7,29.0,False,196,1,1,both,Soda,77,7,9.0,both
4,431534,1,prior,5,4,15,28.0,False,196,1,1,both,Soda,77,7,9.0,both

In [15]:
ords_prods_merge['_merge'].value_counts()

_merge
both          32404859
left_only            0
right_only           0
Name: count, dtype: int64

In [16]:
# Exporting the dataframe as a pkl

ords_prods_merge.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'ords_prods_merge.pkl'))